			<table>
				<tr>
					<th style="text-align: center">{TR_FEATURE}</th>
					<th>{TR_DESCRIPTION}</th>
				</tr>
				<tr>
					<td><a href="protected_areas.php" class="icon_big icon_center i_htaccessicon" title="{TR_HTACCESS}"></a></td>
					<td>{TR_HTACCESS_TXT}</td>
				</tr>
				<tr>
					<td><a href="error_pages.php" class="icon_big icon_center i_errordocsicon" title="{TR_ERROR_PAGES}"></a></td>
					<td>{TR_ERROR_PAGES_TXT}</td>
				</tr>
				<!-- BDP: backup_feature -->
				<tr>
					<td><a href="backup.php" class="icon_big icon_center i_backupicon" title="{TR_BACKUP}"></a></td>
					<td>{TR_BACKUP_TXT}</td>
				</tr>
				<!-- EDP: backup_feature -->
				<!-- BDP: mail_feature -->
				<tr>
					<td><a href="{WEBMAIL_PATH}" target="{WEBMAIL_TARGET}" class="icon_big icon_center i_webmailicon" title="{TR_WEBMAIL}"></a></td>
					<td>{TR_WEBMAIL_TXT}</td>
				</tr>
				<!-- EDP: mail_feature -->
				<!-- BDP: ftp_feature -->
				<tr>
					<td><a href="{FILEMANAGER_PATH}" target="{FILEMANAGER_TARGET}" class="icon_big icon_center i_filemanagericon" title="{TR_FILEMANAGER}"></a></td>
					<td>{TR_FILEMANAGER_TXT}</td>
				</tr>
				<!-- EDP: ftp_feature -->
				<!-- BDP: aps_feature -->
				<tr>
					<td><a href="software.php" class="icon_big icon_center i_appicon" title="{TR_APP_INSTALLER}"></a></td>
					<td>{TR_APP_INSTALLER_TXT}</td>
				</tr>
				<!-- EDP: aps_feature -->
				<!-- BDP: webstats_feature -->
				<tr>
					<td><a href="/{WEBSTATS_RPATH}" target="{WEBSTATS_TARGET}" class="icon_big icon_center i_awstatsicon" title="{TR_WEBSTATS}"></a></td>
					<td>{TR_WEBSTATS_TXT}</td>
				</tr>
				<!-- EDP: awstats_feature -->
			</table>
